# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Env files
.env
.env.local
.env.*.local

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
